<h1>Listing translations</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Source port</th>
    <th>Destination address</th>
    <th>Destination port</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
  <tr>
    <td><%= translation.address_id %></td>
    <td><%= translation.source_port %></td>
    <td><%= translation.destination_address %></td>
    <td><%= translation.destination_port %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation', new_translation_path %>
