<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>

		<script src="../javascripts/webtoolkit.base64.js"></script>
		<script src="../javascripts/uuid.js"></script>
		<script src="../javascripts/standard_application.js"></script>
		<script src="../javascripts/dhtmlx.js"></script>
		<script type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="../javascripts/dhtmlx.css">
		<link rel="stylesheet" type="text/css" href="../javascripts/dhtmlx_custom.css">
	
		<style>
			html, body {
				width: 100%;
				height: 100%;
				margin: 0px;
				overflow: hidden;
			}
	    </style>
	    
	</head>
	
	<%= yield %>
	
</html>
